.tooBad{
    color: red;
    font-size: calc(12px + 5vw);
    padding: 30px;
    text-align: center;
    font-family: Creepster, cursive;   

}
.roulette{
    display: flex;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 80%;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.5) inset;
}
.roulette-child{
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 100%;
    max-height:100%;
}
hr {
    margin: 30px;
}
.blocPlayer{
    text-align: center;
}
.blocDeath{
    text-align: center;
}
.blocDeath img{
    width: 100%;
    padding: 20px;
    
}
.blocSuplice{
    text-align: center;
}
.titles-roulette {
    font-size: 20px;
}
.avatar-img{
    max-width: 100%;
    max-height: 300px;
    padding: 20px;
}

.giphy-img {
    max-width: 100%;
    max-height: 300px;
    padding: 20px;
}