.Home {
    background: #212121;
    height: 100vh;

}
.avatars{
    
    display: flex;
    flex: row;
    justify-content: center;
}


/* Personnages */

.Personnage {
    background: #1111;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction:column ; 
}

.Personnage p, img, input{
    margin-bottom: 5px;

}

.Personnage p {
    color: #fff;
}

.Personnage input {
    font-size: 15px;
    text-align: center;
    border: none;
    padding: 10px;
}

.buttonHome{
    padding: 40px;
    text-align: center;
}


.buttonHome button {
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #D90115;
    font-size: 25px;
}

.buttonHome button:hover {
    color: #D90115;
    background: #000;
    border: 2px solid #fff;
}

