.background-question{
    position: absolute;
    bottom: 0;
    height: 100%;
    background-image: url(/img/ambiance1.jpg);
    background-position: center;

}
.bloc-presentation2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.text-question1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.bloc-text {
    width: 30%;
    margin: 20px;
}
.text-question {
    color: white;
    padding: 10px;
   
}
.img-esprit{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(/img/freddy-krueger.jpg);
    background-position: center;
    background-size: 100%;

}
.Questions {
    display: flex;
    flex: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #212121;
    padding: 30px;
}
.response {
    background: #212121;    
    display: flex;
    margin: 2% 15%;
}

.response span{
    color:white;
}

/* [class*="MuiFormControlLabel"] {
 color: white !important;
} */
.radio{
    width: 60%;
    margin: auto;
    color: white;
    text-align: center;
}
.check {
    color: white;
}
.button-response {
    padding-bottom: 60px;
}
.Avatar_avatar {
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction:column ; 
}

.Avatar_avatar p, img {
    margin-bottom: 5px;
}

.Avatar_avatar img {
    height: 200px;
    width: 220px;
}

.Avatar_avatar p {
    color: #fff;
    height: 35px;
}




.Avatar_dead {
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction:column ; 
    /* border: 1px dashed red;  */
    /* background: url('/img/tombe.png') */
}

.Avatar_dead p, img {
    margin-bottom: 5px;
}

.Avatar_dead img {
    height: 200px;
    width: 220px;
    opacity: 0.2;
    background: red;
}

.Avatar_dead p {
    color: #c2c2c2;
    height: 35px;
}

/* Button Question */

.btn-response {
    padding: 30px !important;
    width: 250px;
    border-radius: 10px;
    border: 2px solid #000 !important   ;
    background: #D90115 !important;
    font-size: 25px !important;
    color: #fff !important;
}

.btn-response:hover {
    color: #D90115 !important;
    background: #000 !important;
    border: 2px solid #fff !important;
}
@media all and (max-width: 767px){
    .bloc-text {
        width: 100%;
    }
}