
.Questions {
    display: flex;
    flex: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #212121;
}

.Avatar_avatar {
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction:column ; 
}

.Avatar_avatar p, img {
    margin-bottom: 5px;
}

.Avatar_avatar img {
    height: 200px;
    width: 220px;
}

.Avatar_avatar p {
    color: #fff;
    height: 35px;
}




.Avatar_dead {
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction:column ; 
    /* border: 1px dashed red;  */
    /* background: url('/img/tombe.png') */
}

.Avatar_dead p, img {
    margin-bottom: 5px;
}

.Avatar_dead img {
    height: 200px;
    width: 220px;
    opacity: 0.2;
    background: red;
}

.Avatar_dead p {
    color: #c2c2c2;
    height: 35px;
}